VITE_API_BASE_URL=https://home-backend-zjsn.onrender.com
VITE_BLOCKCHAIN_RPC_URL=https://sepolia.infura.io/v3/c93642d7e514494c8d8153522e77efef
VITE_CONTRACT_ADDRESS=0x32C55b3a27EC7ac037b6F9d540eBB06DBC0e51E9
VITE_DEFAULT_USER=Admin (Vansh)
VITE_WOKWI_SIM_URL=https://wokwi.com/projects/459734852305661953